---
page_title: "m3 Provider"
subcategory: ""
description: |-
The m3 provider gives ability to manage resources of different cloud providers in a unified way via Maestro.
---

# m3 Provider

The m3 provider gives ability to manage resources of different cloud providers in a unified way via Maestro.

# Supported clouds

AWS, AZURE, GOOGLE, NUTANIX, OPEN_STACK, VSPHERE, VMWARE, YANDEX


## Example Usage

{{tffile "examples/provider/provider.tf"}}
